a:visited {
    color: crimson;
}
h1 {
    color:lawngreen;
    font-family: monospace;
    text-align: center;
    margin-top: 40px;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.container {
    background-color:white;
}
.cont1 {
    height: 50%;
    width: 100%;
    border-radius: 15px;
    margin-bottom: 10px;
    border: black solid 2px;
}
.cont2 {
    margin-top: 10px;
    height: 50%;
    width: 100%;
    border-radius: 15px;
    border: solid black 2px;
}
.Media {
    border-radius: 5%;
    height: 50%;
    width: 20%;
    display:inline-block;
    border: red solid;
    margin-left: 3%;
}
.image {
    border: 2px solid black;
}

.social {
    width: 100px;
    height: 100px;
    border-radius: 5px;  
    display: inline-block;
}

