.maincontainer {
    height: 700px;
    border: solid green 5px;
    width: 100%;
    background-color: powderblue;
}

video {
    height: 50%;
    width: 80%;
    margin-top: 30px;
    margin-left: 10px;
    padding: 10px;
    border: solid blue 3px;
    background-color: skyblue;
    border-radius: 50px;
    
    
}
audio {
    border: solid brown 3px;
    margin-left: 20px;
    margin-top: 30px;
    height: 50%;
    width: 400px;
    background-color: aqua;
    border-radius: 50px;
    
    
}
.sub-container {
    display: flex;
    width: 80%;
    height: 500px;
    border: solid red 2px;
    margin: auto;
    margin-top: 100px;
    background-color: aqua;
    justify-content: space-evenly;
    
}
